@import "tailwindcss";

@source '../src/**/*.{elm}';
@source '../.elm-land/**/*.{elm}';
@plugin "@tailwindcss/typography";

@theme {
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1025px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
    --radius-6xl: 4rem;
}

/*******************************************************************************
 *                                CONSTANTS                                    *
 *******************************************************************************/
:root {
    /* Font families */
    --font-display: "Advent Pro", sans-serif;
    --font-paragraph: "Noto Sans", sans-serif;
    --font-mono: "Fira Code", monospace;

    /* Color palette */
    --color-white: #fbfcfc;
    --color-black: #292c33;
    --color-primary: rgb(41, 128, 185);
    /*oklch(97% 0.1351 242.556);*/
    --color-primary-content: var(--color-white);
    --color-secondary: #2c3e50;
    --color-secondary-content: oklch(75% 0.04442 249.03);
    --color-accent: #8e44ad;
    --color-accent-content: var(--color-white);
    --color-base-100: var(--color-white);
    --color-base-200: #ecf0f1;
    --color-base-300: #bdc3c7;
    --color-base-content: var(--color-black);
    --color-neutral: var(--color-black);
    --color-neutral-content: var(--color-white);
    --color-info: #16a085;
    --color-info-content: var(--color-white);
    --color-success: #36d399;
    --color-success-content: var(--color-white);
    --color-warning: #f1c40f;
    --color-warning-content: var(--color-black);
    --color-error: #c0392b;
    --color-error-content: var(--color-white);

    /* Geometry */
    --headerbar-height: 3.0rem;
}


/*******************************************************************************
 *                              BASE STYLES                                    *
 *******************************************************************************/
.font-paragrah,
html {
    font-family: "Noto Sans", sans-serif;
}

.heading,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
    font-family: var(--font-display);
    font-stretch: 105%;
    font-weight: bold;
}

.h1 {
    font-size: 1.90em;
}

.h2 {
    font-size: 1.60em;
}

.h3 {
    font-size: 1.35em;
}

.h4 {
    font-size: 1.15em;
}

.h5 {
    font-size: 1em;
}

.h6 {
    font-size: 0.85em;
}

html {
    font-size: 16px;
}

@media (min-width: var(--breakpoint-md)) {
    html {
        font-size: 17px;
    }
}

@media (min-width: var(--breakpoint-xl)) {
    html {
        font-size: 18px;
    }
}

/* body::before {
    display: block;
    content: " ";
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--color-base-100);
    opacity: 0.50;
    z-index: -1;
    background: url("/static/img/bg/bg-copy.png");
} */

body {
    scrollbar-gutter: auto;
    scrollbar-width: thin;
}

/* 
.textured-background {
    background-image: url("/static/img/bg/bg-copy.png");
} */

/*******************************************************************************
 *                              COMPONENTS                                     *
 *******************************************************************************/
.Container.compact {
    padding-top: 0;
    padding-bottom: 0;
}

.Container.compact-top {
    padding-top: 0;
}

/*******************************************************************************
 *                              UTILITIES                                     *
 *******************************************************************************/
.prose {
    --tw-prose-headings: inherit;
    --tw-prose-links: inherit;
    --tw-prose-body: inherit;
    --tw-prose-bold: var(--tw-prose-body);
}


@plugin "daisyui" {
    themes:
        light --default,
        nord;
    exclude: navbar;
}

/*
* Color pallete from: https://coolors.co/cc0025-4e9a06-ffa630-380533-f2b7c6
*/
@plugin "daisyui/theme" {
    name: "light";
    default: true;
    prefersdark: false;
    color-scheme: "light";

    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;

    --size-selector: 0.25rm;
    --size-field: 0.25rem;

    --border: 0.5px;
    --depth: 1;
    --noise: 1;
}

@plugin "daisyui/theme" {
    name: "dark";
    default: false;
    prefersdark: false;
    color-scheme: "dark";

    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;

    --size-selector: 0.25rm;
    --size-field: 0.25rem;

    --border: 0.5px;
    --depth: 1;
    --noise: 1;
}

@custom-variant dark (&:where([data-theme=light], [data-theme=dark] *));